
@media all and (mx-width: 600px){}

#outer{
    
    width:100%;
   
    

}
#p1{
    color: white;

}
#p1a{
    color: gray;
    margin-left: 35%;
}
#section0{
    
    color: white;
    border: solid black;
    background-color: black;
   
    
}

#section1{
  
    color: black;
    
    display: flex;
    gap: 85%;
    margin-left: 5%;
    margin-right:5%;
     
}
.p0{
    color: gray;
}
#section2{
    color: black;
    display: flex;
    gap: 11.2%;  
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.h4{
    text-decoration: none;
    color: gray;
}

#section3{
    background-image: url(photos/pic1.jpeg);
    background-size: cover;
    height: 800px;
    border: solid white;
    
}

#h5{
    margin-top: 18%;
    margin-left: 37%;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    
}
#move{
    margin-top: 0%;
    margin-left: 30%;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#button1{
    margin-bottom: 30%;
    margin-left: 37%;
    padding: 20px 60px;
    background-color:#F6BE00;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #F6BE00;
    cursor: pointer;

}

#section4{
    display: flex;
    color: black;
    gap: 20%;
    margin-left: 12%;
    margin-right: 10%;

}
#left{
    
   
    
}
#rightt{
    
   
    
}
#yearside{
    display: flex;
    gap: 10%;
}
#year{
    margin-top: 10%;
}
#yr{
font-size: 60px;
}

#par4{
    
}
#content{
    margin-top: 10%;
}
#learn{
   
    font-size: 25px;
    color: #F6BE00;
    margin-left: 15%;

}
#s4{
    
    font-size: 45px;
    margin-left: 15%;
}

#photo2{
    width:500px;
    height:450px;
    margin-left: 15%;
    
   
}

#photo3{
    width:500px;
    height:450px;


    
}

#section5{
    display: flex;
    gap: 14.3%;
    margin-left: 13%;
    margin-right: 13%;
}

#section6{

    margin-left: 40%;
    margin-right: 5%;
}

#our6{
    color:#F6BE00;
    margin-left: 5%;

}

#what6{
font-size: 60px;
padding-right: 10%;
}

#section7{
    display: flex;
    gap: 15%;
    margin-left: 20%;
    margin-right: 18%;
}

.read{
    text-decoration: none;
    color: #F6BE00;
}
#storage{
    background-color: blue;
    width: 240px;
    
}
#section8{
    display: flex;
    gap: 30%;

    margin-left: 15%;
    margin-right: 13%;
}
#word{
    font-size: 40px;
}

#click{
    display: flex;
    gap: 20%;
}

#playimage{
    width: 250px;
    height: 150px;
}
#section9{
    display: flex;
    gap: 20%;
    margin-left: 15%;
    margin-right: 12%;
}

#sec9aa{
    background-color: blue;
    width: 600px;
    height: 700px;
  

}

#sec9a{
    background-image: url("photos/box9.png" );
    width: 550px;
    height: 550px;
    
}



#white1{
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;

}
#get{
    color: #F6BE00;
}

#h3{
    margin-left: 6%;
    margin-top: 8%;
}

#sec9b{

}

#leading{
    font-size: 40px;
}

#why9{
    color: #F6BE00;
}

#section10{

    margin-left: 30%;
    margin-right: 20%;
}

#sec10{
    color: grey;
    font-size: 25px;
}

#sec10b{
    color: #F6BE00;
}

#photo11{
    height:50px;
}



.verify{
    size: 20px;
}

#section10{
    
}

#section11{
    
   margin-top: none;
}

#photo11{
    width: 1812px;
    height: 700px;

}
.input{
    padding: 18px 50px;
}

#button2{
    padding: 18px 20px;
}
#formside{
    display: flex;

    
    
    
}

#word11{
    background-color: #F6BE00;
    padding-right: 50%;
    color: white;
    
}
#form{
    display: flex;
    gap: 5%;
    background-color: blue;
    width: 800px;
    color: white;
    border-color: #F6BE00;
    
    

}

#book11{
padding-left: 5%;
color: white;
}

#h11{
    padding-left: 5%;
}

#words12{
    display: flex;
    gap: 20%;
}

.woman{
    width: 80px;
    height: 80px;
    
}

#section12{
    
    margin-left: 10%;
    margin-right: 7%;

}
#sec12a{
  margin-left: 40%;
  color: #F6BE00;

}
#what12{
margin-left: 38%;
font-size: 50px;
}

.img12{
    margin-left: 30%;
}

.p{
 color: gray;
}

.h3{
    color:#F6BE00;
}

#section13{
  
    
}
#sec13a{
    color: #F6BE00;
    margin-left: 45%;
}

#h13{
    margin-left:38%;
    font-size: 60px;
}
#sec13{
    display: flex;
    gap: 45%;
    margin-left: 35%;
    margin-right: 10%;
}

#email13{
    color: gray;
    font-size: 20px;
}

#button13{
    padding: 20px 35px;
    background-color: #F6BE00;
    color: aliceblue;
    border-color: #F6BE00;
    cursor: pointer;
}

#section14{

}
#sec14a{
    color: #F6BE00;
    margin-left: 45%;  
}
#sec14b{
    margin-left:38%;
    font-size: 60px;
}




#sec14{
    display: flex;
    gap: 5%;
    
    height: 500px;
    margin-left: 13%;
    margin-right: 13%;
}

.content14{
    display: flex;
    gap: 10%;


}
#photo14{
    background-image:url(photos/photo14.avif);
    width: 700px;
   
    
}



#photo15{
    background-image:url(photos/photo15.avif) ;
    width: 700px;
}

#photo16{
    background-image:url(photos/photo16.jpg) ;
    width: 700px;
}

.h{
    margin-top: 70%;
    margin-left: 18%;
    color: aliceblue;
}
.h2{
    margin-left: 18%;
    color: aliceblue;
}



#section15{
    
}

#text{
    display: flex;
    gap: 40%;
    background-color: #F6BE00;
    color: white;
    height: 200px;
    margin-top: 5%;

}

#h15{
    margin-left: 13%;
    margin-top: 5%;
}

#button15{
    padding: 20px 40px;
    background-color: black;
    color: aliceblue;
    height: 5opx;
    margin-top: 27%;

}

#footer{
    display: flex;
    gap: 10%;
    background: black;
    color: white;
    padding-top: 3%;
    border-radius: 0px 0px 10px 10px;
}

.footer1{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
#line1{
    margin-left: 15%;
}

.icons{
    margin-right: 5%;
}